//* colors

$orange: #F28705;
$white: #F2F2F0;
$brown: #A67153;


$col_text: $white;
$col_btn--Hover: rgba($brown, .5);
$col_input--Box_Shadow: rgba($brown, .5);
$col_input--Border: $brown;
$col_input--Disabled--Bg_color: rgba($white, .2);
$col_border: $white;
